<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>
          <a routerLink="/posts/{{ post.id }}">View</a> |
          <a routerLink="/update/{{ post.id }}">Edit</a> |
          <a routerLink="/create">Create</a> |
          <button class="btn-danger" (click)="deletePost(post.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  